In [1]:
s1 = "India won the match"
s2 = "England won the cricket match"

In [2]:
list_of_strings = [s1,s2]
list_of_strings

['India won the match', 'England won the cricket match']

In [8]:
import sklearn
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(list_of_strings)
print(vectorizer.get_feature_names())
df = pd.DataFrame(X.toarray())
df

['cricket', 'england', 'india', 'match', 'the', 'won']

          0         1         2         3         4         5
0  0.000000  0.000000  0.630099  0.448321  0.448321  0.448321
1  0.533098  0.533098  0.000000  0.379303  0.379303  0.379303